/* Genel Ayarlar */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000; /* Siyah arka plan */
    color: #fff;
    line-height: 1.6;
    overflow: hidden; /* Scroll hatalarını önler */
}

/* Particle.js Alanı */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* İçeriğin arkasında görünmesi için */
}

/* Container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(128, 125, 123, 0.384); /* Şeffaf arka plan */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Başlık */
header h1 {
    font-size: 2.5em;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    font-size: 1.2em;
    color: #ddd;
    font-weight: bold;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid  #ffcc00; /* Burada çizgi ekliyoruz */
    display: inline-block; /* Çizgiyi adın uzunluğuna göre ayarlamak için */
}

/* Bölüm Başlıkları */
section h2 {
    font-size: 1.5em;
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
    display: inline-block;
    margin-bottom: 10px;
}

/* Liste Şekillendirme */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #fff;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list {
    flex: 1 1 45%;
    list-style: none;
    padding: 0;
}

.skills-list li {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

.skills-list li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

a {
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    color: #fff;
}
/* Scroll Çalışmasını Sağlama */
html, body {
    height: auto; /* Sayfa içeriği kadar yüksekliğe izin verir */
    overflow-y: auto; /* Yatay taşmayı engellemeden dikey scroll sağlar */
}

p{text-indent:10px;}
